*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    height: 1000px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    height: 15vh;
}

header .menu{
    display: flex;
}
.menu a{
    flex: 1;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14pt;
    color: #000;
    transition: .3s;
}
.menu a:nth-child(1){
    display: none;
}
.menu a:hover, .menu a.active{
    background-color: #34aeff;
    color: #fff;
}
#banner{
    background-image: url(../img/banner.jpeg);
    background-position: top;
    background-clip: cover;
    background-size: 120%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
}

#banner .title{
    justify-content: center; 
    width: 50%;
    padding: 10vh 0 0 15%;
    color: #fff;
}
.title h1{
    font-size: 50pt;
    font-weight: 1;
    margin-bottom: 30px;
}
.title p{
    font-size: 15pt;
}

#banner .card{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}
.card div{
    width: 23%;
    height: 230px;
    padding: 15px;
    color: white;
}
.card div h2{
    margin-bottom: 10px;
}
.card div p{
    font-size: 12pt;
    line-height: 16pt;
    letter-spacing: 1px;
}
.card div button {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 7px;
    font-size: 13pt;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}
.area1{
    background-color: #34aeff;
}
.area2{
    background-color: #0072be;
}
.area3{
    background-color: #004b7e;
}
.area3 div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5px;
    padding: 25px 0 15px 0;
    border-bottom: 1px solid #fff;
}



#main{
    display: flex;
    width: 69%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}
#main h2{
    padding: 20px 0 0 5%;
    width: 100%;
}
#main #left{
    flex: 2;
}

#news > div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
#news .news{
    padding: 20px;
    margin: 20px;
    flex: 1;
    width: 305px;
}
.news .info{
    width: 50%;
    color: #fff;
    margin-bottom: 20px;
    line-height: 26pt;
    font-size: 14pt;
    display: flex;
    text-align: center;
}
.info div{
    margin-right: 5px;
    padding: 5px;
}
.info > .data{
    background-color: #0b3b94;
}
.info > .pos{
    background-color: #4686ff;
    width: 180px;
}
#main #right{
    flex: 1;
    
}
#right .departments{
    margin-top: 2.3rem;
}
#right > .departments > div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1.3rem;
}
#right > .departments > div > div{
    margin-right: 20px;
    width: 130px;
    height: 130px;
    background-color: #4686ff;
}
footer{
    width: 100%;
    background-color: #222;
    color: #fff;
}
footer .areas{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
footer > .areas > div{
    width: 23%;
    padding: 15px;
    min-height: 10vh;
}

.lastrow{
    text-align: center;
    width: 100%;
    padding: 10px;
}

.menuMobile{
    display: none;
}

@media (max-width:1320px){
    #banner .title{
        width: 80%;
        padding: 10vh 0 0 15%;
    }
    #banner{
        height: 800px;
    }
    #main{
        width: 90%;
    }
    .card div{
        width: 100%;
    }
    #news .news{
        width: 200px;
    }
    footer > .areas > div{
        width: 33%;
    }

}

@media (max-width:1015px){
    #banner{
        height: 600px;
    }
    #main{
        width: 100%;
    }
    #right > .departments > div > div{
        width: 95px;
        height: 95px;
        margin-right: 10px;
    }
    footer > .areas > div{
        width: 100%;
    }
    footer ul{
        padding-left: 20px;
    }
}

@media (max-width:800px){
    .menuMobile{
        display: block;
        font-size: 25pt;
    }
    .menu a:nth-child(1){
        display: flex;
    }
    .menuMobile > a{
        color: #000;
        transition: .5s;
    }
    .menuMobile > a:hover{
        color: #4686ff;
    }
    header .menu{
        flex-direction: column;
        background-color: #eee;
        width: 100%;
        position: fixed;
        bottom: -100vh;
        height: 100vh;
        transition: 1s;
    }
    .menu > a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #banner .title{
        width: 100% !important;
        padding: 5vh 2% 5vh 2% !important;
    }
    #banner{
        height: 100%;
    }
    .title h1{
        font-size: 30pt;
        font-weight: bold;
    }
    .card{
        flex-wrap: wrap;
    }
    #right > .departments > div > div{
        width: 100%;
        height: 80px;
    }

}

@media(max-width:500px){
    #banner{
        background-size: 260%;
        height: 100%;
    }
    .news{
        width: 300px !important;
    }
    #right > .departments > div > div{
        width: 70%;
        height: 80px;
    }
}
